<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/logo.css" />
    <link rel="stylesheet" href="/stylesheets/institucional.css" />
    
    <!--JS-->
    <script defer src="https://kit.fontawesome.com/6837938f61.js" crossorigin="anonymous"></script>

    <title><%=title%></title>
</head>
<body>
    <header><%- include('./includes/header') %></header>
    <main>
        <h1><%=bodyTitle%></h1>
        <div class="container"><%=text%></div>
    </main>
    <footer><%- include('./includes/footer') %></footer>
</body>
</html>